In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('events.csv')

In [2]:
from datetime import datetime
df['date'] = df['timestamp'].apply(lambda x: datetime.fromtimestamp(x/1000))
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['dayofweek'] = df['date'].dt.dayofweek
df.head()

,timestamp,visitorid,event,itemid,transactionid,date,year,month,day,dayofweek
0,1433221332117,257597,view,355908,NaN,2015-06-02 07:02:12.117,2015,6,2,1
1,1433224214164,992329,view,248676,NaN,2015-06-02 07:50:14.164,2015,6,2,1
2,1433221999827,111016,view,318965,NaN,2015-06-02 07:13:19.827,2015,6,2,1
3,1433221955914,483717,view,253185,NaN,2015-06-02 07:12:35.914,2015,6,2,1
4,1433221337106,951259,view,367447,NaN,2015-06-02 07:02:17.106,2015,6,2,1

In [3]:
count = df.groupby('visitorid').agg(['count'])
count = count.sort_values([('timestamp', 'count')], ascending = False)
count.head()

,timestamp,event,itemid,transactionid,date,year,month,day,dayofweek
,count,count,count,count,count,count,count,count,count
visitorid,,,,,,,,,
1150086,7757,7757,7757,559,7757,7757,7757,7757,7757
530559,4328,4328,4328,286,4328,4328,4328,4328,4328
152963,3024,3024,3024,349,3024,3024,3024,3024,3024
895999,2474,2474,2474,50,2474,2474,2474,2474,2474
163561,2410,2410,2410,92,2410,2410,2410,2410,2410

In [5]:
stats = pd.DataFrame(count[('timestamp', 'count')].values, columns = ['nb_visites'], index=count[('timestamp', 'count')].index)
stats['nb_transactions'] = pd.DataFrame(count[('transactionid', 'count')].values, index=count[('timestamp', 'count')].index)
stats.head()

           nb_visites  nb_transactions
visitorid
1150086          7757              559
530559           4328              286
152963           3024              349
895999           2474               50
163561           2410               92

In [9]:
stats = df.groupby('visitorid').agg({'visitorid':'count'})
stats = stats.rename(columns={"visitorid": "nb_visites"})

view = df.loc[df['event'] == 'view'].groupby('visitorid').agg({'visitorid':'count'})
view = view.rename(columns={"visitorid": "nb_views"})

addtocart = df.loc[df['event'] == 'addtocart'].groupby('visitorid').agg({'visitorid':'count'})
addtocart = addtocart.rename(columns={"visitorid": "nb_addtocarts"})

transaction = df.loc[df['event'] == 'transaction'].groupby('visitorid').agg({'visitorid':'count'})
transaction = transaction.rename(columns={"visitorid": "nb_transactions"})

In [10]:
stats = pd.merge(stats, view, left_index=True, right_index=True)
stats = pd.merge(stats, addtocart, left_index=True, right_index=True)
stats = pd.merge(stats, transaction, left_index=True, right_index=True)
stats.head()

,nb_visites,nb_transactions,nb_view_x,nb_view_y,nb_addtocart,nb_transaction
visitorid,,,,,,
1150086,7757,559,6479,6479,719,559
530559,4328,286,3623,3623,419,286
152963,3024,349,2304,2304,371,349
895999,2474,50,2368,2368,56,50
163561,2410,92,2194,2194,124,92